# Compiled python files
__pycache__/
*.pyc

# Local plugin settings and logs
spoolman_settings.json
spoolman_gcode.log

# System files
.DS_Store

# Build and packaging files
build/
dist/
*.egg-info/

